<template>
    <div class="header">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <nuxt-link :to="{ name: 'index' }">
                        <Logo class="title_img" />
                        <span class="title_span">{{ title }}</span>
                    </nuxt-link>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" @click="isMenuOpen = !isMenuOpen">
                        <span aria-hidden="true" />
                        <span aria-hidden="true" />
                        <span aria-hidden="true" />
                    </a>
                </div>
                <div class="navbar-menu is-active">
                    <div class="navbar-start">
                        <div class="navbar-item field">
                            <Search />
                        </div>
                    </div>
                </div>

                <!-- For mobile and tablet -->
                <div v-show="isMenuOpen" class="navbar-end is-hidden-tablet">
                    <Menu
                        @loginClick="$emit('loginClick')"
                        @registeredClick="$emit('registeredClick')"
                    />
                </div>

                <!-- For desktop -->
                <div class="navbar-end is-hidden-mobile">
                    <Menu
                        @loginClick="$emit('loginClick')"
                        @registeredClick="$emit('registeredClick')"
                    />
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
import Menu from './Menu'
import Search from './Search'
import Logo from '~/components/Logo.vue'

export default {
    name: 'Header',
    components: {
        Search,
        Menu,
        Logo
    },
    props: {
        title: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            isMenuOpen: false
        }
    },
    created() {
    }
}
</script>

<style lang="scss" scoped>
    @import './header.scss';
</style>
