@import "~assets/scss/_var.scss";
.header {
    border-bottom: 1px solid #e2e8ec;
    .navbar {
        padding: 0;
        min-height: 70px;
        font-family: "微軟正黑體", "Microsoft JhengHei", san-serif
    }
    .title_img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-left: 10px;
        margin-top: 7px;
        margin-bottom: 5px;
    }
    .title_span {
        vertical-align: middle;
        margin-left: 5px;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
    }
    .navbar-menu {
        padding: 0
    }
    @media screen and (min-width: $desktop) {
        .navbar {
            padding: 0 10px;
        }
        .navbar-brand {
            padding-top: 10px;
            margin-right: 40px;
            width: 150px;
        }
        .title_img {
            width: 50px;
            height: auto;
            margin-top: 0;
            margin-bottom: 0;
            float: left;
        }
        .title_span {
            display: block;
            font-size: 15px;
            float: right;
        }
    }
    a {
        color: #4A4F54;
    }
    p.has-icons-left {
        min-width: 250px;
    }
}