<template>
    <div>
        <p class="control has-icons-left">
            <input v-model="value" class="input is-rounded is-small" type="text" :placeholder="placeholder" @input="search">
            <span class="icon is-small is-left">
                <i class="fa fa-search" />
            </span>
        </p>
    </div>
</template>

<script>
export default {
    name: 'Search',
    data() {
        return {
            value: ''
        }
    },
    computed: {
        placeholder() {
            return 'Search English NAME'
        },
        list() {
            return this.$store.state.coursesList
        }
    },
    methods: {
        search(e) {
            console.log(this.value)

            const key = this.value.toLowerCase()

            const target = this.list.filter((item) => {
                const name = item.name.toLowerCase()
                const isInAry = name.includes(key)
                return isInAry
            })
            if (target.length === 1) {
                // console.log(target)
                this.$router.push({
                    name: 'course-id',
                    params: {
                        id: target[0].id
                    }
                })
            }


        //     this.$router.push(this.$route.path)
        }
    }
}
</script>
