@import "~assets/scss/_var.scss";
.courseList {
    .columns {
        margin-bottom: 50px;
        margin-top: 10px;
        padding: 0 20px;
    }
    .card {
        margin: 10px;
    }
    .card.column {
        padding: 0;
        border-radius: 5px;
    }
    .card-image img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        vertical-align: top;
    }
    .course_item {
        padding-bottom: 5px;
    }
    .description {
        padding: 0 16px;
        font-size: 15px;
        color: #4a4a4a;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-right: 8px;
    }
    .course_title_parent {
        padding: 0 13px;
        margin-top: 10px;
        margin-bottom: 10px!important;
    }
    .course_title {
        position: relative;
        h2 {
            display: inline-block;
            font-size: 19px;
            position: relative;
            color: #DFE4E5;
            top: 2px;
        }
        button {
            position: absolute;
            right: 8px;
            top: 4px;
        }
    }
    .details {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 5px;
        //     &:hover {
        //       border: 1px solid currentColor;
        //     }
    }
    .button,
    .select {
        z-index: 2;
    }
}