<template>
    <div class="courseList">
        <div class="columns is-centered is-multiline">
            <div v-for="course in coursesLists" v-show="courses.length===0" :key="course.id" class="card column is-5-tablet is-3-desktop">
                <div class="course_item">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img :src="course.img" alt="課程名稱">
                        </figure>
                    </div>
                    <div class="course_title_parent">
                        <div class="course_title is-clearfix">
                            <h2 class="is-pulled-left">
                                {{ course.name }}
                            </h2>
                        </div>
                    </div>
                    <div class="description">
                        {{ course.description }}
                    </div>
                    <nuxt-link
                        class="details"
                        :to="{
                            name: 'course-id',
                            params: {
                                id: course.id
                            }
                        }"
                    />
                </div>
            </div>
            <!-- <div v-if="courses.length===0" class="section">
                <p>沒有發現課程!!</p>
            </div> -->
            <div v-for="(item) in courses" :key="item" class="card column is-5-tablet is-3-desktop">
                <div class="course_item">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img :src="item.img" alt="課程名稱">
                        </figure>
                    </div>
                    <div class="course_title_parent">
                        <div class="course_title is-clearfix">
                            <h2 class="is-pulled-left">
                                {{ item.name }}
                            </h2>
                        </div>
                    </div>
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <nuxt-link
                        class="details"
                        :to="{
                            name: 'course-id',
                            params: {
                                id: item.id
                            }
                        }"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>


export default {
    name: 'CourseList',
    props: {
        courses: {
            type: Array,
            default: () => ([])
        }
    },
    data() {
        return {
        }
    },
    computed: {
        coursesLists() {
            return this.$store.getters.getCoursesList
        }
    },
    mounted() {
        // this.$store.dispatch('get_coursesList')
    },
    methods: {
    }
}
</script>

<style lang="scss" scoped>
    @import './courseList.scss';
</style>

