<template>
    <div>
        <h1>{{ h1 }}</h1>
    </div>
</template>

<script>
export default {
    data() {
        return {
            h1: this.$route.params.text
        }
    },
    mounted() {
        console.log(this.$route)
    }
}
</script>

<style>

</style>
