<template>
    <div>
        <logo />
        <h1>
            {{ title }}
        </h1>
        <h2>
            {{ h2 }}
        </h2>
        <h2>
            {{ demoH2 }}
        </h2>
        <img src="@/assets/img/demo.svg" alt="">
        <img src="@/assets/img/demo.png" alt="">
        <Datepicker />
        <div v-for="n in 10" :key="n">
            <nuxt-link
                :to="{
                    name: 'demo-text',
                    params: {
                        text: n
                    }
                }"
            >
                動態 nuxt-link {{ n }}
            </nuxt-link>
        </div>
        <input id="file" ref="file" type="file" class="input-file" @change="uploadFile">
    </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
// import { sleep, deepCopy } from "~/assets/js/tool";
// import * as tol from '~/assets/js/tool' //* 可以引入全部並自定義名稱
export default {
    layout: 'default',
    components: {
        Logo
    },
    data: () => ({
        title: 'demo',
        h2: '這是 h2'
    }),
    computed: {
        demoH2() {
            return this.h2 + '(computed)'
        }
    },
    created() {

    },
    mounted() {
        // this.$gsap.to('img', { rotation: 27, x: 100, duration: 1 })

        this.$axios({
            method: 'get',
            baseURL: 'http://localhost:3034/api/test'
        }).then((res) => {
            console.log(res.data)
            // baseURL: 'http://localhost:3034/api/test'
        })
    },
    methods: {
        uploadFile() {
            const formData = new FormData() // form重設
            formData.append('videoFile', this.$refs.file.files[0])
            formData.append('title', 'title')
            formData.append('description', 'description')
            this.$axios({
                method: 'post',
                baseURL: 'http://localhost:3034/api/file',
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                data: formData
            }).then((response) => {
                console.log(response.data)
            })
        }

    },
    head() {
        return {
            title: this.title,
            meta: [
                {
                    hid: 'description',
                    name: 'description',
                    content: 'My custom description'
                }
            ],
            script: [
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js' }
            ]
        }
    }
}
</script>

<style lang="scss">
// @import "~/assets/scss/demo.scss";
</style>
