/* eslint-disable no-tabs */
<template>
    <div>
        <svg
            id="Capa_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512 512"
            style="enable-background: new 0 0 512 512;"
            xml:space="preserve"
        >
            <path
                style="fill: #fec652;"
                d="M487.992,100.172c9.35,2.81,15.18,12.06,13.8,21.73c-1.719,12.066-13.829,20.047-25.46,16.52c-20.61-6.24-39.419-16.72-55.409-30.42l-16.93-16.93c-13.7-15.99-24.18-34.799-30.42-55.409c-3.52-11.65,4.47-23.74,16.52-25.46c9.544-1.407,18.907,4.393,21.73,13.8C422.763,60.373,451.623,89.232,487.992,100.172z"
            />
            <path
                style="fill: #48ba7b;"
                d="M454.883,141.961c7.81,7.81,7.81,20.48,0,28.29c-7.808,7.808-20.46,7.82-28.28,0c-10.266-10.266-74.525-74.525-84.859-84.859c-7.81-7.81-7.81-20.47,0-28.28c7.797-7.797,20.48-7.83,28.29,0L454.883,141.961z"
            />
            <circle style="fill: #ff4a70;" cx="341.744" cy="170.247" r="59.997" />
            <path
                style="fill: #fec652;"
                d="M341.744,255.1c7.81,7.81,7.81,20.47,0,28.28c-7.83,7.81-20.444,7.816-28.28,0c-0.151-0.151-84.68-84.68-84.849-84.849c-7.81-7.81-7.81-20.47,0-28.28c7.788-7.807,20.48-7.82,28.28,0L341.744,255.1z"
            />
            <circle style="fill: #ff4a70;" cx="228.616" cy="283.385" r="59.997" />
            <path
                style="fill: #48ba7b;"
                d="M228.616,368.238c7.81,7.81,7.81,20.47,0,28.28s-20.48,7.81-28.29,0c-0.338-0.339-74.091-74.114-84.849-84.849c-7.81-7.81-7.81-20.48,0-28.29c7.809-7.809,20.464-7.816,28.28,0C154.023,293.645,218.282,357.905,228.616,368.238z"
            />
            <path
                style="fill: #fec652;"
                d="M196.527,418.217c3.53,11.65-4.46,23.74-16.51,25.46c-9.529,1.404-18.911-4.365-21.74-13.79c-5.47-18.19-15.42-34.489-28.55-47.619c-13.13-13.13-29.43-23.08-47.619-28.55c-9.35-2.81-15.17-12.07-13.79-21.74c1.718-12.05,13.813-20.041,25.46-16.51c22.66,6.85,43.149,18.84,60.109,34.609l8.03,8.03C177.687,375.068,189.677,395.557,196.527,418.217z"
            />
            <path
                d="M490.873,90.596c-13.235-3.981-25.446-10.664-35.966-19.366l54.156-54.156c3.905-3.905,3.905-10.237,0-14.143c-3.906-3.905-10.236-3.905-14.143,0l-54.156,54.157c-8.701-10.519-15.383-22.728-19.363-35.959c-3.733-12.439-15.444-21.126-28.478-21.126c-1.484,0-2.888,0.101-4.243,0.3c-8.731,1.247-16.471,6.243-21.232,13.708c-4.685,7.344-5.94,16.29-3.445,24.549c0.427,1.412,0.875,2.815,1.339,4.211c-3.007-0.994-6.186-1.519-9.447-1.519c-8.017,0-15.553,3.121-21.222,8.789c-11.695,11.696-11.695,30.726,0,42.421l7.804,7.804c-0.243-0.002-0.484-0.018-0.728-0.018c-18.697,0-36.274,7.281-49.495,20.501c-13.842,13.842-20.649,32.086-20.451,50.266l-7.828-7.828c-5.659-5.673-13.195-8.798-21.221-8.798s-15.562,3.125-21.211,8.789c-5.666,5.667-8.786,13.199-8.786,21.211c0,8.012,3.121,15.545,8.786,21.21l7.805,7.805c-0.247-0.003-0.491-0.018-0.738-0.018c-18.698,0-36.275,7.281-49.496,20.501c-13.22,13.221-20.501,30.799-20.501,49.496c0,0.243,0.015,0.484,0.018,0.727l-7.804-7.804c-5.668-5.667-13.201-8.789-21.211-8.789c-8.011,0-15.543,3.121-21.211,8.789c-8.386,8.387-10.759,20.543-7.121,31.064c-1.528-0.513-3.063-1.006-4.604-1.472c-2.78-0.843-5.654-1.271-8.543-1.271c-14.835,0-27.612,11.151-29.72,25.938c-2.099,14.71,6.654,28.475,20.811,32.728c13.096,3.938,25.381,10.549,36.013,19.316L2.929,494.925c-3.905,3.905-3.905,10.237,0,14.143c1.953,1.952,4.512,2.929,7.071,2.929s5.119-0.977,7.071-2.929l112.314-112.314c8.767,10.632,15.378,22.917,19.315,36.009c3.791,12.629,15.239,21.115,28.488,21.115c1.461,0,2.903-0.103,4.243-0.3c8.736-1.247,16.476-6.246,21.236-13.715c4.681-7.346,5.932-16.292,3.433-24.538c-0.465-1.54-0.957-3.072-1.47-4.599c3.124,1.081,6.439,1.65,9.843,1.65c8.015,0,15.55-3.12,21.216-8.786c5.666-5.666,8.786-13.199,8.786-21.211c0-8.012-3.12-15.545-8.786-21.211l-7.804-7.804c0.243,0.002,0.484,0.018,0.728,0.018c18.697,0,36.274-7.281,49.495-20.502c13.841-13.842,20.649-32.086,20.45-50.266l7.838,7.838c0.003,0.003,0.006,0.006,0.009,0.009c5.677,5.662,13.206,8.78,21.202,8.78c7.995,0,15.524-3.118,21.211-8.79c11.695-11.696,11.695-30.726,0-42.42l-7.805-7.805c0.247,0.003,0.491,0.018,0.738,0.018c18.697,0,36.274-7.281,49.495-20.501c13.221-13.221,20.502-30.798,20.502-49.495c0-0.244-0.015-0.485-0.018-0.728l7.803,7.803c5.667,5.668,13.2,8.79,21.212,8.79s15.545-3.122,21.211-8.789c5.666-5.666,8.787-13.201,8.787-21.216c0-3.263-0.526-6.444-1.521-9.454c1.396,0.464,2.798,0.911,4.21,1.338c2.779,0.843,5.65,1.271,8.533,1.271c14.843,0,27.624-11.156,29.729-25.947C513.79,108.613,505.033,94.852,490.873,90.596zM185.8,429.113c-1.621,2.543-4.243,4.243-7.237,4.671c-0.422,0.062-0.885,0.093-1.376,0.093c-4.35,0-8.1-2.759-9.333-6.869c-5.839-19.418-16.578-37.333-31.055-51.811c-14.478-14.477-32.393-25.216-51.812-31.055c-4.613-1.387-7.46-5.908-6.769-10.752c0.701-4.913,5.058-8.762,9.92-8.762c0.92,0,1.84,0.138,2.746,0.413c20.692,6.255,40.084,17.413,56.092,32.268l7.709,7.709c14.857,16.008,26.015,35.4,32.27,56.099C188.061,424.762,186.706,427.691,185.8,429.113z M221.545,375.31c1.888,1.888,2.928,4.398,2.928,7.068c0,2.67-1.04,5.181-2.929,7.069c-3.9,3.901-10.247,3.901-14.147,0l-38.322-38.322c-1.319-1.416-2.672-2.821-4.027-4.177c-1.356-1.355-2.76-2.708-4.177-4.027l-38.322-38.322c-3.901-3.9-3.901-10.247,0-14.147c1.89-1.89,4.4-2.931,7.069-2.931c2.668,0,5.179,1.041,7.068,2.931l42.424,42.424c0.002,0.002,0.003,0.003,0.005,0.005s0.003,0.003,0.005,0.005L221.545,375.31z M263.965,318.739c-9.442,9.443-21.998,14.644-35.353,14.644c-13.356,0-25.911-5.201-35.353-14.644c-19.495-19.494-19.495-51.212,0-70.707c9.443-9.443,21.999-14.644,35.353-14.644c13.355,0,25.911,5.201,35.353,14.644C283.458,267.525,283.458,299.244,263.965,318.739z M334.683,276.299c-1.901,1.896-4.415,2.941-7.078,2.941c-2.659,0-5.17-1.041-7.07-2.932l-84.848-84.849c-1.888-1.888-2.928-4.398-2.928-7.068c0-2.67,1.04-5.181,2.938-7.079c1.879-1.884,4.386-2.921,7.059-2.921c2.674,0,5.181,1.038,7.069,2.931l84.849,84.849C338.57,266.068,338.57,272.41,334.683,276.299z M377.102,205.599L377.102,205.599c-9.442,9.443-21.998,14.644-35.353,14.644s-25.911-5.201-35.353-14.644c-19.494-19.494-19.494-51.212,0-70.707c9.442-9.443,21.998-14.644,35.353-14.644s25.911,5.2,35.353,14.644c9.443,9.443,14.645,21.999,14.645,35.353S386.546,196.157,377.102,205.599z M447.81,163.181c-1.889,1.89-4.398,2.93-7.067,2.93c-2.669,0-5.179-1.041-7.068-2.931l-42.43-42.429l0,0l0,0l-42.429-42.428c-3.897-3.898-3.897-10.241-0.001-14.138c1.891-1.89,4.405-2.931,7.08-2.931c2.673,0,5.18,1.038,7.068,2.931l33.729,33.729c2.744,3.182,5.56,6.22,8.358,9.008c2.806,2.816,5.845,5.633,9.029,8.38l33.731,33.731c1.889,1.889,2.93,4.401,2.93,7.074C450.74,158.78,449.7,161.291,447.81,163.181z M491.891,120.493c-0.7,4.917-5.062,8.77-9.93,8.77c-0.914,0-1.832-0.138-2.732-0.411c-18.984-5.748-36.323-15.247-51.543-28.228l-16.311-16.311c-12.983-15.221-22.483-32.559-28.23-51.542c-1.103-3.649,0.256-6.581,1.163-8.003c1.622-2.543,4.245-4.243,7.243-4.671c0.425-0.063,0.874-0.093,1.371-0.093c4.274,0,8.107,2.827,9.324,6.88c5.842,19.422,16.58,37.337,31.054,51.811c14.474,14.473,32.39,25.211,51.813,31.054C489.731,111.137,492.582,115.654,491.891,120.493z"
            />
            <path
                d="M235.689,290.453c-3.904,3.899-10.254,3.898-14.157,0c-3.907-3.902-10.238-3.899-14.142,0.009c-3.903,3.907-3.898,10.239,0.009,14.142c5.848,5.84,13.529,8.761,21.211,8.761c7.682,0,15.363-2.92,21.211-8.761c3.908-3.903,3.912-10.235,0.009-14.142C245.928,286.555,239.597,286.551,235.689,290.453z"
            />
            <path
                d="M348.828,177.316c-3.904,3.898-10.255,3.897-14.157,0c-3.907-3.902-10.24-3.899-14.142,0.009c-3.903,3.907-3.899,10.239,0.009,14.142c5.849,5.841,13.528,8.761,21.211,8.761c7.681,0,15.364-2.921,21.212-8.76c3.908-3.903,3.912-10.234,0.01-14.143C359.068,173.418,352.736,173.412,348.828,177.316z"
            />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
        </svg>
    </div>
</template>

<style>

</style>
