<template>
    <footer class="footer">
        <div class="content has-text-centered">
            <nuxt-link :to="{ name: 'index' }">
                <Logo class="footer_logo" />
            </nuxt-link>
            <div>
                <i class="far fa-copyright" /> 2020 <strong>兔田烤肉屋</strong> Co., Ltd, all rights reserved.
                <p>僅供學習研究並無<strong>任何營利</strong>，如有問題請聯繫eepson123@gmail.com </p>
                <div style="margin-top: 1em;">
                    <a class="icon_a" href="#" target="_blank">
                        <span class="icon">
                            <i class="fab fa-facebook" />
                        </span>
                    </a>
                    <span class="icon">
                        <i class="fas fa-home" />
                    </span>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
    name: 'Footer',
    components: {
        Logo
    },
    props: {
        year: {
            type: Number,
            default: null
        },
        title: {
            type: Number,
            default: null
        }
    },
    created() {

    }
}
</script>

<style lang="scss" scoped>
@import './footer.scss';
</style>
