@import "~assets/scss/_var.scss";
.footer {
    background: #DFE4E5;
    color: black;
    padding: 2rem 0;
    &.is_course {
        width: 75%
    }
}

.footer_logo {
    width: 50px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.icon_a {
    color: #3d3d3d
}

@media screen and (max-width: 1023px) {
    .footer {
        &.is_course {
            width: 100%
        }
    }
}