<template>
    <div>
        <Header
            :title="'兔田烤肉屋'"
            @loginClick="loginClick"
            @registeredClick="registeredClick"
        />

        <Nuxt />

        <LoginModal :key="openModal" :open-modal.sync="openModal" :modal-typle="modalTyple" @loginModalSubmit="loginModalSubmit" />
        <Footer />
    </div>
</template>

<script>
// import jwtDecode from 'jwt-decode'
// import Cookie from 'js-cookie'
import Header from '@/components/Header/Header.vue'
import Footer from '@/components/Footer/Footer.vue'
import LoginModal from '@/components/Modal/LoginModal.vue'
import API from '~/api.js'

export default {
    components: {
        Header,
        LoginModal,
        Footer
    },
    data() {
        return {
            openModal: false,
            modalTyple: ''
        }
    },
    mounted() {
        // 移除登入相關程式 寫在severInit中
        if (this.$route.query.id_token && this.$route.query.refresh_token) {
            // const id_token_Decode = jwtDecode(this.$route.query.id_token)
            // this.$store.commit('setUserLoggedIn', {
            //     id_token: this.$route.query.id_token,
            //     refresh_token: this.$route.query.refresh_token,
            //     userUid: id_token_Decode.user_id,
            //     userPicture: id_token_Decode.picture,
            //     userName: id_token_Decode.name
            // })
            window.history.replaceState(null, null, window.location.pathname)
        }
        // if (Cookie.get('id_token')) {
        //     this.$store.commit('setUserLoggedIn', {
        //         id_token: Cookie.get('id_token'),
        //         refresh_token: Cookie.get('refresh_token'),
        //         userUid: Cookie.get('userUid'),
        //         userPicture: Cookie.get('userPicture'),
        //         userName: Cookie.get('userName')
        //     })
        // }
    },
    // created() {
    //     console.log(process.env.NODE_ENV, '')
    // },

    methods: {
        loginModalSubmit(data) {
            if (data.modalTyple === 'login') {
                this.$axios({
                    method: API.member.login.method,
                    url: API.member.login.url,
                    baseURL: process.env.google_api_url,
                    data: {
                        ...data,
                        returnSecureToken: true
                    }
                }).then((response) => {
                    console.log(response.data)
                    this.openModal = false

                    this.$store.commit('setUserLoggedIn', {
                        id_token: response.data.idToken,
                        refresh_token: response.data.refreshToken,
                        userUid: response.data.localId,
                        userName: response.data.email
                    })
                }).catch((error) => {
                    const code = parseInt(error.response && error.response.status) // 取得status code
                    console.log(error.response.data) // 取得資料
                    console.log('TO DO error !', code)
                })
            }
            if (data.modalTyple === 'registered') {
                this.$axios({
                    method: API.member.registered.method,
                    url: API.member.registered.url,
                    baseURL: process.env.google_api_url,
                    data: {
                        ...data,
                        returnSecureToken: true
                    }
                }).then((response) => {
                    console.log(response.data)
                    this.$store.dispatch('saveMemberInfo', {
                        email: data.email,
                        name: data.name,
                        userUid: response.data.localId
                    })
                    this.openModal = false
                }).catch((error) => {
                    console.log(error)
                })
            }
        },
        loginClick() {
            this.openModal = !this.openModal
            this.modalTyple = 'login'
        },
        registeredClick() {
            this.openModal = !this.openModal
            this.modalTyple = 'registered'
        }


    }


}
</script>
<style>
html {
    font-size: 16px;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.button--green {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #3b8070;
    border: 1px solid #3b8070;
    border-radius: 4px;
}

.button--green:hover {
    color: #ffffff;
    background-color: #3b8070;
}

.button--grey {
    display: inline-block;
    margin-left: 15px;
    padding: 10px 30px;
    text-decoration: none;
    color: #35495e;
    border: 1px solid #35495e;
    border-radius: 4px;
}

.button--grey:hover {
    color: #ffffff;
    background-color: #35495e;
}


</style>
