<template>
    <div>
        <h1 v-if="error.statusCode === 404">
            Page not found
        </h1>
        <h1 v-else>
            {{ error.message }}
        </h1>
        <NuxtLink to="/">
            Home page
        </NuxtLink>
    </div>
</template>

<script>
export default {
    props: {
        error: {
            type: Object,
            default: () => ({})
        }
    },
    layout: 'error' // you can set a custom layout for the error page
}
</script>
<style lang="scss" scoped>
h1 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
}
</style>
