/* eslint-disable vue/return-in-computed-property */
<template>
    <div class="registrationLoginModal" :class="[ isOpenModal ? 'is-active' : '', 'modal' ]">
        <div class="modal-background" />
        <div class="modal-card login">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <span>{{ modalTitle }}</span>
                </p>
                <button class="delete" aria-label="close" @click="closeModal" />
            </header>
            <a class="button_a" href="/auth">
                <button class="button is-fullwidth google">

                    <span class="reg_login icon is-small">
                        <i class="fab fa-google" />
                    </span>

                    <span>使用 google 帳號 {{ modalTitle }}</span>
                </button>
            </a>
            <hr class="login-or">
            <form method="post" @submit="checkForm">
                <section class="modal-card-body">
                    <!--登入表單-->
                    <div v-if="modalTyple == 'login'">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope" />
                                </span>
                                <input v-model="email" :class="[emailWithError ? 'input is-danger' : 'input']" type="email" placeholder="Your email" name="emailName">
                            </p>

                            <p v-if="emailWithError" class="help is-danger">
                                請輸入email
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock" />
                                </span>
                                <input v-model="password" :class="[passwordWithError ? 'input is-danger' : 'input']" type="password" placeholder="Your password" name="passwordName">
                            </p>

                            <p v-if="passwordWithError" class="help is-danger">
                                請輸入密碼
                            </p>
                        </div>
                    </div>

                    <!--註冊表單-->
                    <div v-if="modalTyple == 'registered'">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user" />
                                </span>
                                <input v-model="name" :class="[nameWithError ? 'input is-danger' : 'input']" type="text" placeholder="Name*">
                            </p>
                            <p v-if="nameWithError" class="help is-danger">
                                請填寫姓名
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope" />
                                </span>
                                <input v-model="email" :class="[emailWithError ? 'input is-danger' : 'input']" type="email" placeholder="Email*" name="emailName">
                            </p>
                            <p v-if="emailWithError" class="help is-danger">
                                請輸入email
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock" />
                                </span>
                                <input v-model="password" :class="[passwordWithError ? 'input is-danger' : 'input']" type="password" placeholder="Password*">
                            </p>
                            <p v-if="passwordWithError" class="help is-danger">
                                請填寫密碼
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock" />
                                </span>
                                <input v-model="repeatPassword" :class="[repeatPasswordWithError ? 'input is-danger' : 'input']" type="password" placeholder="Repeat Password*">
                            </p>
                            <p v-if="repeatPasswordWithError" class="help is-danger">
                                密碼必須相等
                            </p>
                        </div>
                    </div>
                    <div class="reg_login_button">
                        <button type="submit" class="button is-fullwidth">
                            {{ modalTitle }}
                        </button>
                    </div>
                    <hr>
                    <div class="bottom_center">
                        還沒有帳戶嗎? <a href="#" @click="modalTyple='registered'">立即註冊</a> 或是 <a href="#">忘記密碼</a>
                    </div>
                </section>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'LoginModal',
    props: {
        modalTyple: {
            type: String,
            required: false,
            default: ''
        },
        openModal: {
            type: Boolean,
            required: true,
            default: false
        }
    },
    data() {
        return {
            isOpenModal: this.openModal,
            name: '',
            email: '',
            password: '',
            repeatPassword: '',
            emailWithError: null,
            passwordWithError: null,
            nameWithError: null,
            repeatPasswordWithError: null
        }
    },
    computed: {
        // eslint-disable-next-line vue/return-in-computed-property
        modalTitle() {
            if (this.modalTyple === 'login') {
                return '登入'
            }
            if (this.modalTyple === 'registered') {
                return '註冊'
            }
        }
    },
    methods: {
        checkForm(e) {
            e.preventDefault()

            this.emailWithError = false
            this.passwordWithError = false
            this.nameWithError = false
            this.repeatPasswordWithError = false


            // 驗證 email、密碼
            if (this.modalTyple === 'login') {
                if (!this.email) {
                    this.emailWithError = true
                    return
                }
                if (!this.password) {
                    this.passwordWithError = true
                    return
                }
            }

            if (this.modalTyple === 'registered') {
                if (!this.name) {
                    this.nameWithError = true
                    return
                }
                if (!this.email) {
                    this.emailWithError = true
                    return
                }
                if (!this.password) {
                    this.passwordWithError = true
                    return
                }
                if (this.repeatPassword !== this.password) {
                    this.repeatPasswordWithError = true
                    return
                }
            }

            // 送出表單發射表單資訊出去
            this.$emit('loginModalSubmit', {
                modalTyple: this.modalTyple,
                name: this.name,
                email: this.email,
                password: this.password
            })
        },
        closeModal() {
            this.$emit('update:openModal', false)
        }
    }
}
</script>

<style lang="scss" scoped>
    @import './loginModal.scss';
</style>
