<template>
    <div>
        <CourseList />
    </div>
</template>

<script>


import CourseList from '@/components/CourseList/CourseList.vue'


export default {
    components: {
        CourseList
    },
    fetch(context) {
    // 代表重新整理，courses 沒有資料
        if (!context.store.state.coursesList.length) {
            return context.store.dispatch('setCoursesList')
        }
    },
    data: () => ({
        title: '',
        message: ''
    }),
    computed: {

    },
    mounted() {

    },
    methods: {
    }
}
</script>


